# --- Web & API ---
fastapi
uvicorn[standard]
requests
python-multipart

# --- AI & Logic ---
google-genai
python-dotenv

# --- Data Engineering Essentials ---
pandas
numpy
sqlparse
pyarrow
pyyaml
plotly

# --- Data Quality (The DE Special) ---
pydantic